/* ================================= */
/*             variables             */
/* ================================= */

//colummns 100%
$colummn: (100% / 12);

//colors
$white: #fff;

$color-text-primary: #777;
$color-text-primary-light: #ccc;

$color-turquoise: #58e1c1;
$color-blue-light: #51ddfc;
$color-orange: #fd7856;
$color-light-purple: #927bc1;
$color-blue: #4da2bb;
$color-green: #63cc82;
$color-red: #e4757a;

$btns: ( //save UI messages color in a variable
    'default': $color-blue-light,
    'error': $color-red,
    'info': $color-light-purple,
    'success': $color-green,
    'warning': $color-orange,
);

//colummns backgrounds
$themes: (
    '1': $color-turquoise,
    '2': $color-orange,
    '3': #deb2ee,
    '4': #7ee6fd,
    '5': #88d9a0,
    '6': #4da2bb,
    '7': #ec9fa3,
    '8': #fd9f85,
    '9': #e4757a,
    '10': #63cc82,
    '11': #51ddfc,
    '12': #80e8d1,
);
//Breackpoints
$breakpoints: (
    'xs': 575,
    'sm': 576,
    'md': 768px,
    'lg': 992,  
);