/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @include mq('md'){
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  //colummns
  .row{
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
   
    [class^=col] {
      margin-top: 10px;
      flex-basis: 100%;
      min-height: 25px;
      padding: 10px;
      border-radius: 5px;

      @include mq('md'){
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
        & + [class^=col]{
          margin-left: 10px;
        }
      }
      
    }
    .theme{
      @include themes($themes);

      @include mq('md'){
        &.centered {
          margin-left: auto;
          margin-right: auto;
        }
       
      }
      
    }

    @include mq('md'){

      flex-direction: row;
      //loop for colummn widths
      @for $i from 1 through 12 {
        .col-#{$i} {
          flex-basis: round(($colummn * $i) * 100) / 100;
        }
      }
      
    }

  }
 
  
  .card {
    flex-basis: 100%;
  }
  
  