/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: $color-text-primary;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: $white;
    background-color: $color-turquoise;
  }

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color: $color-turquoise;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $color-text-primary;
  }
  
  .link {
    color: $color-blue-light;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-turquoise;
    border-radius: 5px;
  }
  
  